<template>

  <div class="container">
    <div class="row">
      <div class="col-sm-10">
     
        <h1>Estudiantes</h1>
        <hr><br><br>
        <alert :message="mensaje" v-if="mostrarMsj"></alert> 
        <div class="row-center">
            <label > Grado: </label>
            <select v-model="grupoSeleccionado.grado">
              <option v-for="grado in grados"> {{grado}}</option>
            </select>
            <label > Grupo: </label>
            <select v-model="grupoSeleccionado.grupo">
              <option v-for="grupo in grupos"> {{grupo}}</option>
            </select>  
        </div>       
        <button type="button" class="btn btn-success btn-sm" v-b-modal.est-modal>Agregar estudiante</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Telefono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Grado</th>
              <th scope="col">Grupo</th>
              <th scope="col">Contraseña</th>
              <th></th>
            </tr>
          </thead>
         <tbody>          
            <tr v-for="(estudiante, index) in estudiantes" v-if="(estudiante.grado == grupoSeleccionado.grado && grupoSeleccionado.grupo == '') || (estudiante.grado == grupoSeleccionado.grado && estudiante.grupo == grupoSeleccionado.grupo)" :key="index">
              <td>{{estudiante.documento}}</td>
              <td>{{estudiante.nombre}}</td>
              <td>{{estudiante.apellidos}}</td>
              <td>{{estudiante.telefono}}</td>
              <td>{{estudiante.direccion}}</td>
              <td>{{estudiante.grado}}</td>
              <td>{{estudiante.grupo}}</td>
              <td>{{estudiante.contraseña}}</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                    type="button"
                    class="btn btn-warning btn-sm"
                    v-b-modal.est-edit-modal
                    @click="editEst(estudiante)">
                    Update
                  </button>
                   <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    @click="OnEliminarEst(estudiante)">
                    Delete
                   </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

 <!-- Ventana para crear un estudiante -->
    <b-modal ref="modalCrearEst"
            id="est-modal"
            title="Agregar un nuevo estudiante"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-Documento-group">
          <b-form-input id="form-Documento-input"
                        type="text"
                        v-model="formCrearEst.documento"
                        required
                        placeholder="Documento">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-Nombre-group">
            <b-form-input id="form-Nombre-input"
                          type="text"
                          v-model="formCrearEst.nombre"
                          required
                          placeholder="Nombre">
            </b-form-input>
          </b-form-group>
        <b-form-group id="form-Apellidos-group">
            <b-form-input id="form-Apellidos-input"
                          type="text"
                          v-model="formCrearEst.apellidos"
                          required
                          placeholder="Apellidos">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-Telefono-group">
            <b-form-input id="form-Telefono-input"
                          type="text"
                          v-model="formCrearEst.telefono"
                          required
                          placeholder="Teléfono">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-Direccion-group">
            <b-form-input id="form-Direccion-input"
                          type="text"
                          v-model="formCrearEst.direccion"
                          required
                          placeholder="Direccion">
            </b-form-input>
          </b-form-group>        
        <b-button-group>
          <b-button type="submit" variant="primary">Agregar</b-button>
          <b-button type="reset" variant="danger">Atrás</b-button>
        </b-button-group>
      </b-form>
    </b-modal>

    <!-- Ventana para editar un estudiante -->
    <b-modal ref="modalEditEst"
             id="est-edit-modal"
             title="Actualizar Estudiante"
             hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-Documento-edit-group"
                    label="Documento:"
                    label-for="form-Documento-edit-input">
        <b-form-input id="form-Documento-edit-input"
                      type="text"
                      v-model="formEditEst.documento"
                      required
                      placeholder="Nuevo Documento">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Nombre-edit-group"
                    label="Nombre:"
                    label-for="form-Nombre-edit-input">
        <b-form-input id="form-Nombre-edit-input"
                      type="text"
                      v-model="formEditEst.nombre"
                      required
                      placeholder="Nuevo Nombre">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Apellidos-edit-group"
                    label="Apellidos:"
                    label-for="form-Apellidos-edit-input">
        <b-form-input id="form-direccion-edit-input"
                      type="text"
                      v-model="formEditEst.apellidos"
                      required
                      placeholder="Nuevos Apellidos">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Telefono-edit-group"
                    label="Teléfono:"
                    label-for="form-Telefono-edit-input">
        <b-form-input id="form-Telefono-edit-input"
                      type="text"
                      v-model="formEditEst.telefono"
                      required
                      placeholder="Nuevo Teléfono">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Direccion-edit-group"
                    label="Dirección:"
                    label-for="form-Direccion-edit-input">
        <b-form-input id="form-Direccion-edit-input"
                      type="text"
                      v-model="formEditEst.direccion"
                      required
                      placeholder="Nueva Direccion">
        </b-form-input>
      </b-form-group>      


      
        <b-button-group>
          <b-button type="submit" variant="primary">Actualizar</b-button>
          <b-button type="reset" variant="danger">Cancelar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>


  </div>
</template>


 

<script src="./scripts/estudiantes.js"></script>
