<template>
  <div class="container">

    <div class="row">
      <div class="col-sm-10">
        <h1>Instituciones</h1>
        <hr><br><br>
        <alert :message="mensaje" v-if="mostrarMsj"></alert>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.inst-modal>Agregar institución</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Dirección</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Ciudad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(institucion, index) in instituciones" :key="index">
              <td>{{institucion.nombre}}</td>
              <td>{{institucion.correo}}</td>
              <td>{{institucion.direccion}}</td>
              <td>{{institucion.telefono}}</td>
              <td>{{institucion.ciudad}}</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                    type="button"
                    class="btn btn-warning btn-sm"
                    v-b-modal.inst-edit-modal
                    @click="editInst(institucion)">
                    Update
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    @click="OnEliminarInst(institucion)">
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Ventana para crear una institución -->
    <b-modal ref="modalCrearInst"
            id="inst-modal"
            title="Agregar una nueva institución"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-nombre-group">
          <b-form-input id="form-nombre-input"
                        type="text"
                        v-model="formCrearInst.nombre"
                        required
                        placeholder="Nombre">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-correo-group">
            <b-form-input id="form-correo-input"
                          type="text"
                          v-model="formCrearInst.correo"
                          required
                          placeholder="Correo">
            </b-form-input>
          </b-form-group>
        <b-form-group id="form-direccion-group">
            <b-form-input id="form-direccion-input"
                          type="text"
                          v-model="formCrearInst.direccion"
                          required
                          placeholder="Dirección">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-telefono-group">
            <b-form-input id="form-telefono-input"
                          type="text"
                          v-model="formCrearInst.telefono"
                          required
                          placeholder="Teléfono">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-ciudad-group">
            <b-form-input id="form-ciudad-input"
                          type="text"
                          v-model="formCrearInst.ciudad"
                          required
                          placeholder="Ciudad">
            </b-form-input>
          </b-form-group>
        
        <b-button-group>
          <b-button type="submit" variant="primary">Agregar</b-button>
          <b-button type="reset" variant="danger">Atrás</b-button>
        </b-button-group>
      </b-form>
    </b-modal>

    <!-- Ventana para editar una institución -->
    <b-modal ref="modalEditInst"
             id="inst-edit-modal"
             title="Actualizar institución"
             hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-nombre-edit-group"
                    label="Nombre:"
                    label-for="form-nombre-edit-input">
        <b-form-input id="form-nombre-edit-input"
                      type="text"
                      v-model="formEditInst.nombre"
                      required
                      placeholder="Nuevo nombre">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-correo-edit-group"
                    label="Correo:"
                    label-for="form-correo-edit-input">
        <b-form-input id="form-correo-edit-input"
                      type="text"
                      v-model="formEditInst.correo"
                      required
                      placeholder="Nuevo correo">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-direccion-edit-group"
                    label="Dirección:"
                    label-for="form-direccion-edit-input">
        <b-form-input id="form-direccion-edit-input"
                      type="text"
                      v-model="formEditInst.direccion"
                      required
                      placeholder="Nueva dirección">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-telefono-edit-group"
                    label="Teléfono:"
                    label-for="form-telefono-edit-input">
        <b-form-input id="form-telefono-edit-input"
                      type="text"
                      v-model="formEditInst.telefono"
                      required
                      placeholder="Nuevo teléfono">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-ciudad-edit-group"
                    label="Ciudad:"
                    label-for="form-ciudad-edit-input">
        <b-form-input id="form-ciudad-edit-input"
                      type="text"
                      v-model="formEditInst.ciudad"
                      required
                      placeholder="Nueva ciudad">
        </b-form-input>
      </b-form-group>
      
        <b-button-group>
          <b-button type="submit" variant="primary">Actualizar</b-button>
          <b-button type="reset" variant="danger">Cancelar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>


  </div>
</template>

<script src="./scripts/instituciones.js"></script>
