<template>

<div class="fondoMenu"> 
  
<b-button-group class="btn-menu" vertical> 
                   
<b-button class="btn1" style="margin:11px"  size="lg">Estudiantes</b-button>
<b-button class="btn1" style="margin:11px"  size="lg">Profesores</b-button>
<b-button class="btn1" style="margin:11px"  size="lg">Institución</b-button>
<b-button class="btn1" style="margin:11px"  size="lg">Registrar Asistencia</b-button>
<b-button class="btn1" style="margin:11px"  size="lg">Notificar Asistencia</b-button>
<b-button class="btn1" style="margin:11px"  size="lg">Cronograma de Actividades</b-button>

</b-button-group>
</div>

</template>  
<style>

.fondoMenu{
  
  background-image:  url("../assets/fondoMenu.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  }

.fondoMenu:before{
   content: "";
   width:100%;
   height:100%;
   position:absolute;
  }

  .btn-menu{
   top:17%;
   left:3%;
   position:absolute;
   }

   .btn1{
   	border-radius: 13px 40px;  	 	
   	background-color: #4F1307;   
	border: 2px solid #F5FF52;
   	text-decoration: none;
    padding: 13px 15px;
   
    }
</style>
