<template>

  <div class="NotificarAsist">
    <div class="row-center" >
      
     
        <h1>Notificar Asistencia</h1>
        <br><br>
        
    </div>
    <div class="row-center">
        <label > Seleccionar Grado: </label>

       <select v-model="grupo.gradoN">
          <option v-for="gradoN in grados"> {{gradoN}}</option>

        </select>  
    </div>
    <br><br>
    </hr>
    <div class="row">
    <button type="button" class="btn btn-info btn-sm">< Regresar</button>
    </div>
    <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Excusa</th>
              <th scope="col">Notificación</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           <!--  <tr v-for="(asistenciaEstudiante, index) in asistencia" :key="index">
              <td>{{asistenciaEstudiante.Nombre}}</td>
              <td>{{asistenciaEstudiante.Apellidos}}</td>
              <td>{{asistenciaEstudiante.Excusa}}</td>
              
              <td>
                <div class="btn-group" role="group">
                  <h5>ACA VA UN CHECBOX</h5>
                </div>
              </td>
            </tr> -->
          </tbody>
        </table>
        <div class="row">
        <button type="button" class="btn btn-success btn-sm">Notificar</button>
        </div>
      </div>
   </div>

    


</template>

<script src="./scripts/asistenciaNot.js"></script>