<template>
  <div class="principal">
    <div class="row principal-contenedor">
      <div class="texto col-xs-12 col-md-12 col-lg-12">
        <img src="../assets/logoFinal.png" width="150px" height="70px" style="max-width:100%" />
        <blockquote class="texto-interno">SITIO OFICIAL SCHOOLAPP</blockquote>
      </div>
      <div class="btn-inicio col-xs-12 col-md-12 col-lg-12">
        <button class="btn btn-danger">Iniciar Sesión</button>
      </div>
    </div>
<!-- Card sobre nosotros -->
    <!-- <div class="card col-xs-12 col-md-12 col-lg-12">
      <img src="../assets/schoolapp.png" alt="Avatar" style="width:50%" />
      <div class="card-container">
        <h4><b>Sobre Nosotros:</b></h4>
        <p>
          SchoolApp es la aplicación para tu colegio, con ella podrás llevar el control de tus
          estudiantes en sus asistencias y en sus notas, y todo al alcance de tu mano, ven y
          regístrate!!
        </p>
      </div>
    </div> -->
  </div>
</template>

<style>
.principal {
  background-image: url("../assets/fondoFinal.jpg");
  /* opacity: 0.7; */
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-contenedor {
  margin: 120px 50px 0 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-radius: 1cm;
  max-width: 100%;
  height: 300px;
}

.btn-inicio {
  color: rgb(2, 2, 2);
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  text-align-last: center;
  font-family: "Schoolbell", cursive;
}
.texto {
  position: relative;
  color: #000000;
  text-align-last: center;
  font-family: "Schoolbell", cursive;
  font-size: 20px;
}

.card {
  box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1cm;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-radius: 1cm;
  padding: 20px;
}

@media (min-width: 200px) and (max-width: 720px) {
  .principal-contenedor {
    margin: 200px 0 0 0;
  }

  .contenedor {
    min-width: 100%;
  }
  .card {
    min-width: fit-content;
  }
}
</style>
