<template>

  <div class="container">
    <div class="row">
      <div class="col-sm-10">
     
        <h1>Profesores</h1>
        <hr><br><br>
         <alert :message="mensaje" v-if="mostrarMsj"></alert> 
        <button type="button" class="btn btn-success btn-sm" v-b-modal.prof-modal>Agregar Profesores</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Correo</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">DirectorGrupo</th>
              <th scope="col">Materias</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(profesor, index) in profesores" :key="index">
              <td>{{profesor.Documento}}</td>
              <td>{{profesor.Nombre}}</td>
              <td>{{profesor.Apellidos}}</td>
              <td>{{profesor.Correo}}</td>
              <td>{{profesor.Teléfono}}</td>
              <td>{{profesor.Direccion}}</td>
              <td>{{profesor.DirectorGrupo}}</td>
              <td>{{profesor.Materias}}</td>
              <td>
                <div class="btn-group" role="group">
                   
                  <button
                    type="button"
                    class="btn btn-warning btn-sm"
                    v-b-modal.prof-edit-modal
                    @click="editProf(profesor)">
                    Update
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    @click="OnEliminarProf(profesor)">
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Ventana para crear un profesor -->
    <b-modal ref="modalCrearProf"
            id="prof-modal"
            title="Agregar un nuevo profesor"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-Documento-group">
          <b-form-input id="form-Documento-input"
                        type="text"
                        v-model="formCrearProf.Documento"
                        required
                        placeholder="Documento">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-Nombre-group">
            <b-form-input id="form-Nombre-input"
                          type="text"
                          v-model="formCrearProf.Nombre"
                          required
                          placeholder="Nombre">
            </b-form-input>
          </b-form-group>
        <b-form-group id="form-Apellidos-group">
            <b-form-input id="form-Apellidos-input"
                          type="text"
                          v-model="formCrearProf.Apelidos"
                          required
                          placeholder="Apellidos">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-Correo-group">
            <b-form-input id="form-Correo-input"
                          type="text"
                          v-model="formCrearProf.Correo"
                          required
                          placeholder="Correo">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-Telefono-group">
            <b-form-input id="form-Telefono-input"
                          type="text"
                          v-model="formCrearProf.Telefono"
                          required
                          placeholder="Telefono">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-Direccion-group">
            <b-form-input id="form-Direccion-input"
                          type="text"
                          v-model="formCrearProf.Direccion"
                          required
                          placeholder="Direccion">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-DirectorGrupo-group">
            <b-form-input id="form-DirectorGrupo-input"
                          type="text"
                          v-model="formCrearProf.DirectorGrupo"
                          required
                          placeholder="DirectorGrupo">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-Materias-group">
            <b-form-input id="form-Materias-input"
                          type="text"
                          v-model="formCrearProf.Materias"
                          required
                          placeholder="Materias">
            </b-form-input>
          </b-form-group>
        
        <b-button-group>
          <b-button type="submit" variant="primary">Agregar</b-button>
          <b-button type="reset" variant="danger">Atrás</b-button>
        </b-button-group>
      </b-form>
    </b-modal>

    <!-- Ventana para editar un profesor -->
    <b-modal ref="modalEditProf"
             id="prof-edit-modal"
             title="Actualizar profesor"
             hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-Documento-edit-group"
                    label="Documento:"
                    label-for="form-Documento-edit-input">
        <b-form-input id="form-Documento-edit-input"
                      type="text"
                      v-model="formEditProf.Documento"
                      required
                      placeholder="Nuevo Documento">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Nombre-edit-group"
                    label="Nombre:"
                    label-for="form-Nombre-edit-input">
        <b-form-input id="form-Nombre-edit-input"
                      type="text"
                      v-model="formEditProf.Nombre"
                      required
                      placeholder="Nuevo Nombre">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Apellidos-edit-group"
                    label="Apellidos:"
                    label-for="form-Apellidos-edit-input">
        <b-form-input id="form-Apellidos-edit-input"
                      type="text"
                      v-model="formEditProf.Apellidos"
                      required
                      placeholder="Nuevo Apellido">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Correo-edit-group"
                    label="Correo:"
                    label-for="form-Correo-edit-input">
        <b-form-input id="form-Correo-edit-input"
                      type="text"
                      v-model="formEditProf.Correo"
                      required
                      placeholder="Nuevo Correo">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Telefono-edit-group"
                    label="Telefono:"
                    label-for="form-Telefono-edit-input">
        <b-form-input id="form-Telefono-edit-input"
                      type="text"
                      v-model="formEditProf.Telefono"
                      required
                      placeholder="Nuevo Telefono">
        </b-form-input>
      </b-form-group>
       <b-form-group id="form-Direccion-edit-group"
                    label="Direccion:"
                    label-for="form-Direccion-edit-input">
        <b-form-input id="form-Direccion-edit-input"
                      type="text"
                      v-model="formEditProf.Direccion"
                      required
                      placeholder="Nueva Direccion">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-DirectorGrupo-edit-group"
                    label="DirectorGrupo:"
                    label-for="form-DirectorGrupo-edit-input">
        <b-form-input id="form-DirectorGrupo-edit-input"
                      type="text"
                      v-model="formEditProf.DirectorGrupo"
                      required
                      placeholder="Nuevo DirectorGrupo">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-Materias-edit-group"
                    label="Materias:"
                    label-for="form-Materias-edit-input">
        <b-form-input id="form-Materias-edit-input"
                      type="text"
                      v-model="formEditProf.Materias"
                      required
                      placeholder="Nueva Materia">
        </b-form-input>
      </b-form-group>
      
        <b-button-group>
          <b-button type="submit" variant="primary">Actualizar</b-button>
          <b-button type="reset" variant="danger">Cancelar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>


  </div>
</template>

<script src="./scripts/profesores.js"></script>