<template>
  <div id="registrarAsist">
    <div id="nav">
  
      <h1>Control Asistencia</h1>
        <hr><br> <br>
    
    <router-link to="/RegistrarAsistencia">Registrar Asistencia</router-link> |
      <router-link to="/NotificarAsistencia">Notificar Asistencia </router-link>'8'      
      
    </div>
    <router-view/>
  </div>
  
</template>

<style>
#registrarAsist {
margin-top: 60px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

