<template>
 
 <div class="imagenFond">



<div class="logi">
  <img alt="Vue logo" src="../assets/login.png" class="imglogo">
<h2>Login</h2>
<form>
<p>Usuario</p>
<input type="text" name="username" placeholder="Usuario">

<p>Contraseña</p>
<input type="password" name="password" placeholder="Contraseña">
<input type="submit" name="submit" value="Iniciar Sesión">
<a href="#">Crear Cuenta</a>

  </form>
   
  </div>
</div>

</template>
<style>

.imglogo{

  border-radius: 50%;
  position: absolute;
  top:0px; 
  left:130px;
}

a{
  position: center;
}
.imagenFond{
  
  background-image:  url("../assets/fondoFinal.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  }

  .imagenFond:before{
    content: "";
    width:100%;
    height:100%;
    background-color:#564D4D;
    position:absolute;
    opacity:0.4;
  }

  .logi{
    width: 320px;
    height: 480px;
    background: rgba(0, 0, 0, 0.7);
    color:#fff;
    top:55%;
    left:45%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding:70px 40px;
  }



  .logi p{
    margin:0;
    padding:0;
    font-weight: bold;
    }

    .logi input{

      width: 100%;
      margin-bottom: 20%;
    }

    .logi input[type="text"],input[type="password"]{
      border:none;
      border-bottom: 1px solid #fff;
      background:transparent;
      outline:none;
      height: 40px;
      color:#fff;
      font-size: 16px;
    }

    .logi input[type="submit"]{
      border:none;
      outline: none;
      height: 40px;
      background:#1c8adb;
      color:#fff;
      font-size:20px;
      border-radius: 20px;
    }  


   .logi input[type="submit"]{

    cursor: pointer;
    background:#36A4C2;
    color:#000;}
     .logi input:hover{
        color:#fff;
       }

   
    .logi a{
        top: 50%;
        text-decoration: none;
        font-size: 14px;
        color:#36A4C2;
       }

       .logi a:hover{
        color:#fff;
       }



  h2{
 
  padding:0 0 10px;
  text-align: center;
  font-size: 30px;
}





</style>
