<template>
  <div id="app">
    <div id="naveg" style="margin-left: auto; margin-right: auto;">
      <b-navbar>
        <img id="img1" src="../src/assets/logoFinal.png" />
        <b-navbar-nav>
          <b-nav-item class="item" href="#">Inicio</b-nav-item>
          <b-nav-item class="item" href="#">Contáctanos</b-nav-item>
        </b-navbar-nav>
      </b-navbar>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  margin-top: 0px;
  background-color: white;
  font-family: "Schoolbell", cursive;
}

#naveg {
  height: auto;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0%;
  overflow-x: hidden;
  padding-top: 0px;
  font-size: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
  padding: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(253, 192, 38);
}

.item:hover {
  background-color: transparent;
  color: aliceblue;
}
</style>
